.pageTitle {
    font-family: 'Basis Grotesque Pro', sans-serif;
    text-align: center;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
}

.bgHeader {
    background-image: url("../images/header_img.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 300px;
    display: flex;
    margin-bottom: 20px;
}

.profilePic {
    max-width: 11%;
    padding: 12px;
    display: inline;
    object-fit: contain;
    margin-left: 8%;
}

.userInfo {
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
}

.userName {
    color: #ffffff;
    font-size: 60px;
    margin: 0;
}

@media( max-width: 530px ) {
    .userName {
        color: #ffffff;
        font-size: 27px;
        margin: 0;
    }
}

.userType {
    color: #ffffff;
}