.pageTitle {
    font-family: 'Basis Grotesque Pro', sans-serif;
    text-align: center;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
}

.bgHeader {
    background-image: url("../images/header_img.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 150px;
    display: flex;
    margin-bottom: 20px;
    height: 140px;
}

.profilePic {
    padding: 25px;
    display: block;
    object-fit: contain;
    height: 100%;
}

.userInfo {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
}

.userName {
    color: #ffffff;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

@media( max-width: 530px ) {
    .userName {
        color: #ffffff;
        font-size: 40px;
        line-height: 40px;
        margin: 0;
    }

    .bgHeader {
        height: 120px;
    }
}

.userType {
    color: #ffffff;
}