.loading {
    display: flex;
    justify-content: center;
}

.containerTitle {
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Basis Grotesque Pro', sans-serif;
    display: inline;
}

.addCourseBtn {
    border-radius: 50%;
    font-weight: bold;
    display: inline;
    float: right;
    transform: translateX(16px);
}

.rmvBtn {
    border-radius: 50%;
    font-weight: bold;
    height: 45px;
    width: 45px;
    display: inline-block;
    transform: translate(145px, -85px);
    position: absolute;
}

@media( max-width: 500px ) {
    .rmvBtn {
        transform: translate(-16px, -73px);
    }
}

.editCoursesBtn {
    display: inline;
    cursor: pointer;
    float: right;
}

.listContainer {
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.listItem {
    height: 170px;
    width: 170px;
    background-color: #ffffff;
    background-size: contain;
    border-radius: 4px;
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(206,206,206);
}

.listItem:hover {
    transform: scale(1.1);
    transition: ease-in;
    cursor: pointer;
}

.addBtn {
    background-image: url("../images/plus.PNG");
    border: 1px solid rgb(206,206,206);
    height: 170px;
    width: 170px;
    background-color: #ffffff;
    background-size: contain;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.addBtn:hover {
    border: 2px solid rgb(175, 84, 237);
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in;
}

@media( max-width: 500px ) {
    .listItem {
        height: 145px;
        width: 100%;
        transition: ease-in;
    }

    .addBtn {
        height: 145px;
        width: 100%;
        transition: ease-in;
    }
}

.listItem p {
    color: #ffffff;
    margin: auto;
    text-align: center;
    font-size: small;
}

.listItem p b {
    color: #ffffff;
    margin: auto;
    text-align: center;
    font-size: 27px !important;
    line-height: 24px;
    display: block;
}

.listItem a:hover {
    color: blue !important;
    cursor: pointer;
}

p {
    font-family: 'Basis Grotesque Pro', sans-serif;
}

.modalTitle {
    width: 100%;
    font-size: 30px;
    font-family: 'Basis Grotesque Pro', sans-serif;
    color: rgb(72,72,72);
    font-weight: bold;
}

.inputText {
    font-family: 'Basis Grotesque Pro', sans-serif;
    background: rgba(255,255,255,.1);
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

.inputText:focus {
    background: #d2d9dd;
}

.inputSelect {
    font-family: 'Basis Grotesque Pro', sans-serif;
    background: rgba(255,255,255,.1);
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

.formLabel {
    color: #484848;
    text-align: left;
}